---
# Hostnames which are accepted as valid for this host (and not redirected away
# from) even though they are not the canonical name.
secondary_hostnames: []

certbot_auto_renew: true
certbot_auto_renew_user: root
certbot_auto_renew_hour: "3"
certbot_auto_renew_minute: "30"
certbot_auto_renew_options: --quiet --no-self-upgrade --pre-hook "systemctl stop nginx" --post-hook "systemctl start nginx"
certbot_admin_email: infrastructure-team@studentrobotics.org
certbot_create_if_missing: true
certbot_create_standalone_stop_services:
 - nginx


# We typically only host the public SRComp machine around the time of the
# competition. It is required for the competition pages, including the
# competition homepage.
enable_srcomp_proxy: true
srcomp_proxy_hostname: srcomp.studentrobotics.org
# Override serving of the root url to be the competition mode homepage instead
# of the normal one.
enable_competition_homepage: true

# We typically only host the competitor services for the duration of the
# competition year.
enable_competitor_services_proxy: true
competitor_services_proxy_hostname: competitorsvcs.studentrobotics.org

# We typically only host the kit services for the duration of the
# competition year.
enable_kit_services_proxy: true
kit_services_proxy_hostname: kitsvcs.studentrobotics.org

firewall_allowed_tcp_ports:
 - "22"
 - "80"
 - "443"
firewall_ip6_additional_rules:
 # Allow Mythic's managed services access
 - iptables -A INPUT -p tcp --dport 4949 -s 93.93.128.100/32 -m comment --comment "munin.mythic-beasts.com" -j ACCEPT
 - ip6tables -A INPUT -p tcp --dport 4949 -s 2a00:1098:0:80:1000::100/128 -m comment --comment "munin.mythic-beasts.com" -j ACCEPT
firewall_log_dropped_packets: false


# For now all these users get sudo. If we start adding other users we should
# probably break this into groups and do finer grained permissions.
users:
 - jhoward
 - jsedensmith
 - kkwiatek
 - plaw

secrets_dir: /srv/secrets
