[Unit]
Description=Discord bot for gated entry
After=network.target

[Service]
User=discord

Type=simple

WorkingDirectory={{ install_dir }}
RuntimeDirectory=discord-bot

ExecStart={{ venv_dir }}/bin/python src/main.py

[Install]
WantedBy=multi-user.target
