name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  ansible:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: dev-requirements.txt

      - name: Cache galaxy packages
        uses: actions/cache@v2
        with:
          path: |
            galaxy_roles
            galaxy_collections
          key: galaxy-${{ runner.os }}-py3.11-${{ hashFiles('galaxy-requirements.yml') }}

      - name: Install dependencies
        run: ./scripts/setup.sh

      - name: Run linters
        run: ./scripts/lint.sh
